.btn-outline-success{
    background: none;
    border: 1px solid;
    border-color: rgb(199, 195, 195);
    color: rgb(43, 41, 42);
}

.btn-outline-success:hover{
    background-color:palevioletred ;
    color: rgb(252, 250, 251);
    border-color: palevioletred;
}

.drw h1{
    font-family: 'Poppins';
    font-weight: lighter bold;
    font-size: 52px;
}

.drw p{
    font-family: 'Poppins';
    font-size: 18px;
}

.btn-primary{
    background:palevioletred;
    border: 0;
    /*top right buttom left */
    padding: 15px 40px 15px 40px;
    font-size: 16px;
    font-weight: bold;
} 

.btn-primary:hover {
    background: rgb(175, 78, 109);
    border: 0;
}

